.item.post
  .banner
    .clipper
      .title
        %h2= post.title
    .clipper
      .metadata
        .meta
          %span.date= format_date(post.published_at)
          %span.dot &#9679;
          %a{ :href => "/blog/#{post.stub}" } permalink
        .tags
          - unless post.tags.empty?
            %strong tagged
          - post.tags.each do |tag|
            %span.dot &#9679;
            %span.tag= tag
  .clipper
    .body
      .content
        :kramdown
          #{post.body}
