.item.share
  .banner
    .clipper
      .title
        %h2= share.title
    .clipper
      .metadata
        .meta
          %span.date= format_date(share.published_at)
          - if share.original_url && share.original_url != share.source_url
            %span.dot &#9679;
            %a{ :href => share.original_url } view
          - if share.source_url
            %span.dot &#9679;
            %a{ :href => share.source_url }= "on #{share.source || share.source_url}"

          
  .clipper
    .body
      - if share.body and not share.body.empty?
        .content
          = share.body

