!!!
%html
  %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
  %title
    duien.com
    - unless @type == :everything
      = "/ #{@type}"
      - if @item
        = "/ #{@item.title}"
%body{ :class => @type }
  .clipper
    #navigation
      %ul
        %li.main
          %a{ :href => '/' } everything
        %li.blog
          %a{ :href => '/blog' } blog
        %li.twitter
          %a{ :href => '/twitter' } twitter
        %li.delicious
          %a{ :href => '/delicious' } delicious
        %li.flickr
          %a{ :href => '/flickr' } flickr
        %li.reader
          %a{ :href => '/reader' } reader
  .clipper
    #header
      #title
        %h1
          %span.site duien.com
          - unless @type == :everything
            \/ 
            %a{ :href => site_link(@type) }= @type
  #main
    - if !@item.nil? || !(@items.nil? ||  @items.empty?)
      .clipper
        .top
    = yield
  #footer
    .content
      %p
        Created by Emily Price with
        = succeed ',' do
          %a{ :href => 'http://www.ruby-lang.org/' } Ruby
        = succeed ',' do
          %a{ :href => 'http://www.sinatrarb.com/' } Sinatra
        and
        %a{ :href => 'http://www.mongodb.org/' } MongoDB

